RewriteEngine On

# Transaction details
RewriteRule ^tx/([a-fA-F0-9x]+)/?$ tx.php?tx=$1 [L,QSA]

# Block details
RewriteRule ^block/(\d+)/?$ block.php?block=$1 [L,QSA]

# Address details
RewriteRule ^address/([a-fA-F0-9x]+)/?$ address.php?address=$1 [L,QSA]

# API endpoints
RewriteRule ^api/tx/([a-fA-F0-9x]+)/?$ tx.php?format=json&tx=$1 [L,QSA]
RewriteRule ^api/block/(\d+)/?$ block.php?format=json&block=$1 [L,QSA]
RewriteRule ^api/address/([a-fA-F0-9x]+)/?$ address.php?format=json&address=$1 [L,QSA]
